 @font-face{
  font-family: 'century';
  src: url(../fonts/ufonts.com_century-gothic.ttf)format('truetype');
}

html, body{
  height: 100%;
}
body{

}


.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
/**************************************************/
/*******************  Generales  ******************/
/**************************************************/
input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  box-shadow: none;
  border-bottom: none;
}
select:not(.multiple_) {
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
    left: 0;
}
.otro_idioma{
    overflow: hidden;
    max-height: 0;
}
.modal.select{
    /*overflow-x: hidden;*/
    overflow: visible;
}
.input.select .dropdown-content{
    max-height: 300px !important;
}

.links{
  text-align: center;
  position: relative;
  top: calc(50% - 60px);
}
.links li{
  width: 100px;
  height: 100px;
  display: inline-block;
  border-radius: 100%;
  margin: 0 15px;

  position: relative;
}

.desactivado{
  opacity: .4 !important;
}
.desactivado img{
  opacity: .4;
}

.desactivado a{
  opacity: .4;
}

.introjs-helperNumberLayer{
    top: auto;
    bottom: 0;
}

.madiraje_select{
    /*background: rgb(77, 95, 187);*/
    margin-top: 15px;
    padding: 5px 10px;
}
.madiraje_select .mensaje p{
    margin-top: 0;
    text-align: center;
    color: #fff;
}
.madiraje_select .m_select{
    width: 100%;
    /*height: 25px;*/
    /*border: solid 1px #fff;*/
    padding: 3px 5px;
    color: #fff;
}
.madiraje_select .m_select .icon{
    float: right;
    width: 22px;
    height: 22px;
    /*border: solid 1px #fff;*/
}
.madiraje_select .m_select .icon a{
    padding: 0;
}
.madiraje_select .m_select .icon a i{
    color: #fff;
    font-size: 22px;

}
.madiraje_select .m_select span.price{
    margin-left: 15px;
}
.links li a{
  line-height: 1;
  margin: 0;
}
.links li a img{
  width: 100px;

  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.links li a:hover img{

  transform: scale(1.15);
}

.links li ul{
  position: absolute;
  bottom: -70px;
  left: -50px;
  width: calc(100% + 100px);
  text-align: center;

  overflow: hidden;
  max-height: 0;
  /*opacity: 0;*/

  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;

  transition-delay: .3s;
}

.links li:hover ul{
  max-height: 1000px;
  /*opacity: 1;*/

}
.links li ul li{
  width: auto;
  height: auto;
  display: inline-block;

  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  opacity: 0;



  /*border-radius: 0;*/
  /*border: solid 2px #fff;*/
}
.links li:hover ul li{

  opacity: 1;
  transition-delay: .4s;

}
.links li:hover ul li:last-child{
  transition-delay: .6s;
}
/*.links li ul li::before{
  content: '';
  position: absolute;
  top: -45px;
  left: calc(50% + 25px);
  width: 3px;
  height: 45px;
  background: rgb(255, 255, 255);

  transform: skewX(-25deg);
}
.links li ul li:last-child::before{
  transform: skewX(25deg);
  left: calc(50% - 25px);


}*/
.links li ul li a{
  color: #fff;
}
.languages{
    margin-top: 10px;
}
.languages .language{
    overflow: hidden;
    /*background: rgb(179, 12, 103);
    border: solid 1px #000;*/

    max-height: 1000px;
    margin-top: 10px;

    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}


/*.languages .language.active{
    max-height: 1000px;
}*/

.languages .titulo{
    height: 30px;
    padding: 0 !important;

}
.ppal.languages .titulo{
    margin: 10px 0;
}

.languages .titulo h5{
    margin: 0;
    text-align: left;
    color: rgb(255, 255, 255);
}
.languages .titulo h5 img{
    width: 30px;
    position: relative;
    top: 8px;
    margin-right: 7px;
}






.logopatrocinantes{
  color: #000;
  margin: 0;
  margin-top: 8px;
  line-height: 1;
  font-size: 29px;
}
.titulologo{
  color: #000;
  margin: 0;
  margin-top: 12px;
  float: left;
}
.titulologo h5{
  font-size: 18px;

}
.section_{
  width: 100%;
  height: auto;
  position: relative;
}
.contenedor{
  height: calc(100% - 125px);
}
.contenedor.cliente_final{
  height: calc(100% - 50px);
  padding-top: 50px;
}
.none{
  display: none !important;
}
.hidden{
  overflow: hidden !important;
}

.success{
  background: rgb(94, 194, 95);
}
.error{
  background: rgb(201, 64, 64);
}
.content_all_time{
  border-bottom: 1px solid #fff;

}

/**************************************************/
/*********************  Menu  *********************/
/**************************************************/

.MenuResponsive{
  display: none;
}
.menu{
  background: rgb(255, 255, 255);
  color: #333333;
  height: 65px;


}
.menu .logo{
  height: 100%;
  padding: 10px 0;
}
.menu_cliente .logo{
  cursor: pointer;
}

/*.menu_cliente .logo a{
  width: auto;
  height: 100%;
}*/
.menu .logo.logo_right{
  right: 0;
}
.menu ul:not(.sub_menu),
.menu ul:not(.sub_menu) li{
  height: 100%;
}
.menu ul:not(.sub_menu) li *{
  line-height: 1;
}
.menu ul:not(.sub_menu) li a i{
  height: auto;
  margin-left: 0;
}
.menu ul:not(.sub_menu) li a{
  padding: 25px 15px;
  position: relative;
  top: calc(50% - 32.5px);
}
.menu ul:not(.sub_menu) li a span{
  position: relative;
}
.menu ul:not(.sub_menu) li a span i{
  position: absolute;
  top: 9px;
  right: -7px;
}


.menu .logo img{
  height: 100%;
}
.menu ul li a{
  color: #000;
}
.menu ul li ul.sub_menu{
  width: auto;
  min-width: 740px;
  height: 0px;
  background: rgb(242, 242, 242);
  position: absolute;
  top: 65px;
  left: 50%;
  text-align: center;
  padding: 0 50px;
  z-index: 100;

  /*overflow: hidden;*/
  /*display: none;*/

  opacity: 0;

  box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.14),inset 0 1px 5px 0 rgba(0, 0, 0, 0.12),inset 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);


  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  transform: translate(-50%);

  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-transition-delay: .3s;
  -o-transition-delay: .3s;
  transition-delay: .3s;
}
.menu ul li ul.sub_menu.active{
  opacity: 1;
  height: 50px;

  transition-delay: 0s;

  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  transform: translate(-50%);
}
.menu ul li ul.sub_menu li{
  float: none;
  width: auto;
  height: 100%;
  display: inline-block;
  position: relative;
  top: -0px;
  overflow: visible;

  /*padding: 0 10px;*/

  opacity: 0;
  -webkit-transform: translate(0%, -100%);
  -ms-transform: translate(0%, -100%);
  -o-transform: translate(0%, -100%);
  transform: translate(0%, -100%);

  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.menu ul li ul.sub_menu li:nth-child(1){
  -webkit-transition-delay: .05s;
  -o-transition-delay: .05s;
  transition-delay: .05s;
}
.menu ul li ul.sub_menu li:nth-child(2){
  -webkit-transition-delay: .1s;
  -o-transition-delay: .1s;
  transition-delay: .1s;
}
.menu ul li ul.sub_menu li:nth-child(3){
  -webkit-transition-delay: .15s;
  -o-transition-delay: .15s;
  transition-delay: .15s;
}
.menu ul li ul.sub_menu li:nth-child(4){
  -webkit-transition-delay: .2s;
  -o-transition-delay: .2s;
  transition-delay: .2s;
}
.menu ul li ul.sub_menu li:nth-child(5){
  -webkit-transition-delay: .25s;
  -o-transition-delay: .25s;
  transition-delay: .25s;
}
.menu ul li ul.sub_menu li:nth-child(6){
  -webkit-transition-delay: .3s;
  -o-transition-delay: .3s;
  transition-delay: .3s;
}
.menu ul li ul.sub_menu li:nth-child(7){
  -webkit-transition-delay: .35s;
  -o-transition-delay: .35s;
  transition-delay: .35s;
}
.menu ul li ul.sub_menu li:nth-child(8){
  -webkit-transition-delay: .4s;
  -o-transition-delay: .4s;
  transition-delay: .4s;
}
.menu ul li ul.sub_menu li:nth-child(9){
  -webkit-transition-delay: .45s;
  -o-transition-delay: .45s;
  transition-delay: .45s;
}
.menu ul li ul.sub_menu li:nth-child(10){
  -webkit-transition-delay: .5s;
  -o-transition-delay: .5s;
  transition-delay: .5s;
}

.menu ul li ul.sub_menu.active li:nth-child(1){
  -webkit-transition-delay: .1s;
  -o-transition-delay: .1s;
  transition-delay: .1s;
}
.menu ul li ul.sub_menu.active li:nth-child(2){
  -webkit-transition-delay: .2s;
  -o-transition-delay: .2s;
  transition-delay: .2s;
}
.menu ul li ul.sub_menu.active li:nth-child(3){
  -webkit-transition-delay: .3s;
  -o-transition-delay: .3s;
  transition-delay: .3s;
}
.menu ul li ul.sub_menu.active li:nth-child(4){
  -webkit-transition-delay: .4s;
  -o-transition-delay: .4s;
  transition-delay: .4s;
}
.menu ul li ul.sub_menu.active li:nth-child(5){
  -webkit-transition-delay: .5s;
  -o-transition-delay: .5s;
  transition-delay: .5s;
}
.menu ul li ul.sub_menu.active li:nth-child(6){
  -webkit-transition-delay: .6s;
  -o-transition-delay: .6s;
  transition-delay: .6s;
}
.menu ul li ul.sub_menu.active li:nth-child(7){
  -webkit-transition-delay: .7s;
  -o-transition-delay: .7s;
  transition-delay: .7s;
}
.menu ul li ul.sub_menu.active li:nth-child(8){
  -webkit-transition-delay: .8s;
  -o-transition-delay: .8s;
  transition-delay: .8s;
}
.menu ul li ul.sub_menu.active li:nth-child(9){
  -webkit-transition-delay: .9s;
  -o-transition-delay: .9s;
  transition-delay: .9s;
}
.menu ul li ul.sub_menu.active li:nth-child(10){
  -webkit-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}

.menu ul li ul.sub_menu.active li{
  opacity: 1;
  -webkit-transform: translate(0%, -0%);
  -ms-transform: translate(0%, -0%);
  -o-transform: translate(0%, -0%);
  transform: translate(0%, -0%);
}




.menu ul li ul.sub_menu li a{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  line-height: 1;
  padding: 0 15px;
  position: relative;
  top: 0;
}

.menu ul li ul.sub_menu li a span{
  font-size: 16px;
  position: relative;
  top: calc(50% - 8px)
}
.menu ul li ul.sub_menu li ul:hover,
.menu ul li ul.sub_menu li a.sb_mn2:hover + ul{
  max-height: 1000px;

}
.menu ul li ul.sub_menu li ul{
  position: absolute;
  width: calc(100% + 30px);
  left: -15px;
  max-height: 0;
  /*max-height: 1000px;*/
  height: auto;

  overflow: hidden;
  background: rgb(242, 242, 242);

  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.menu ul li ul.sub_menu li ul li{
  /*background: rgb(64, 149, 246);*/
  height: auto;
  width: 100%;
}
.menu ul li ul.sub_menu li ul li a{
  /*min-height: 30px;*/
  height: auto;
  padding: 15px 5px;
}
.menu ul li ul.sub_menu li ul li a span{
  font-size: 15px;
  /*top: calc(50% - 7.5px);*/
}




/**************************************************/
/*****************  Menu Cliente  *****************/
/**************************************************/

.menu_cliente{
  /*background: #212121;*/
  position: fixed;
  z-index: 100;
  height: auto;

}
.menu_cliente .nav-wrapper{
  padding: 0px 30px;
  height: 110px;
  background: #212121;

}
.menu_cliente ul{
  width: 100%;
  height: 100%;
  /*background: rgb(96, 135, 224);*/
  position: relative;
}
.menu_cliente ul li{
  height: 100%;
}
.menu_cliente ul li.opciones{
  float: left;
}
.menu_cliente ul li.idioma{
  float: right;
}
.menu_cliente ul li.logo{
  width: auto;
  text-align: center;
  padding: 15px 0;
  position: relative;
  left: calc(50% - 75px);
  transform: translate(-50%);
  cursor: pointer;
}
.menu_cliente ul li.logo img{
  height: 100%;
  display: inline-block;
}
.menu_cliente ul li a{
  display: block;
  width: 100%;
  height: 100%;
  /*background: rgb(68, 80, 185);*/
  line-height: 1;
  position: relative;
  z-index: 11;

  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  -o-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}
.menu_cliente ul li a img{
  width: 40px;
  position: relative;
  top: calc(50% - 20px);
}
.menu_cliente ul li ul{
  position: absolute;
  top: 0px;
  height: auto;
  min-width: 170px;
  width: auto;
  z-index: 11;

  /*background: rgb(135, 255, 0);*/
  padding: 125px 0 20px;
  transform-origin: left;
  border-radius: 0 10px 10px 10px;
  left: -150px;
  opacity: 0;
  -webkit-transform: scaleX(.5);
  -ms-transform: scaleX(.5);
  -o-transform: scaleX(.5);
  transform: scaleX(.5);

  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  -o-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;

}
.menu_cliente ul li.idioma ul{
  transform-origin: left;
  right: -150px;
  left: auto;
  border-radius: 15px 0 15px 15px;

}
.menu_cliente ul li ul.active + a{
  background: rgba(51, 51, 51, 0.9);
}
.menu_cliente ul li ul.active{
  background: rgba(51, 51, 51, 0.9);
  left: -30px;
  opacity: 1;
  transform: scaleX(1);

}
.menu_cliente ul li.idioma ul.active{
  right: -30px;
  left: auto;

}

.menu_cliente ul li ul li{
  float: none;
  width: 100%;
  height: auto;
  line-height: 1;
  /*text-align: center;*/
}
.menu_cliente ul li ul li a{
  padding: 10px 40px;
  position: relative;

}
.menu_cliente ul li.idioma ul li a{
  text-align: right;
  /*padding-left: 0px;
  padding-right: 60px;*/
}
.menu_cliente ul li ul li a span{
  position: relative;
  top: calc(50% - 7.5px);
  font-size: 30px;
  text-transform: capitalize;
  /*transform: translate(0, );*/
}
body.menu2 .menu_cliente{
  height: 109px;
}
.menu_cliente .menu_head{
  width: 100%;
  height: 60px;
  background: rgb(55, 194, 81);
}
.menu_cliente .menu_head .logo{
  width: auto;
  height: 60px;
  margin-left: 30px;
  position: absolute;
  background: rgb(56, 94, 105);
}
.menu_cliente .menu_head .logo img{
  height: 100%;
}
/*.menu_cliente .menu_head .name{
  position: relative;
  width: calc(100% - )
}*/
/*.menu_cliente ul li a span{
  top: 50%;
  position: relative;
  transform: translate(0, -50%);
}*/

/**************************************************/
/*****************  Authenticate  *****************/
/**************************************************/
.authenticate{
  height: 100%;
  /*background: rgb(219, 96, 11);*/
  overflow: auto;
  /*padding-bottom: 25px;*/
}
.authenticate .fondo_mitad{
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  display: none;
  top: 0;
  bottom: 0;

}
#register.authenticate .fondo_mitad{
  bottom: -115px;

}

.authenticate .fondo_mitad:nth-child(1){
  left: 0;
  right: 50%;
  border-right: solid 1px #fff;
}
.authenticate .fondo_mitad:nth-child(2){
  left: 50%;
  right: 0;
  border-left: solid 1px #fff;
}
#recuperar.authenticate .fondo_mitad{
  left: 0;
  right: 0;
}

.authenticate .fondo_reg_user{
  display: none;
}
.authenticate .fondo_dat_ris{
  display: none;
}
#register.divide_100 .divide{
  width: 100%;
}

#register .divide.reg_user{
  background-image: url(../img/fondos/registro_reg_user.jpg);
  border-right: solid 1px #fff;
  /*padding-bottom: 140px !important;*/
}
#register .divide.dat_ris{
  background-image: url(../img/fondos/registro_dat_ris.jpg);
  border-left: solid 1px #fff;
  /*padding-bottom: 140px !important;*/
}
.authenticate .divide.fondo_ingresar1{
  background-image: url(../img/fondos/ingresar.jpg);
  border-right: solid 1px #fff;
}
.authenticate .divide.fondo_ingresar2{
  background-image: url(../img/fondos/ingresar.jpg);
  border-left: solid 1px #fff;
}
#recuperar .divide{
  background-image: url(../img/fondos/completo.jpg);
}
#register form{
  height: 100%;
}
#register.edit form{
  height: auto;
}
#register .divide{
  min-height: 100%;
  height: auto;
}

.authenticate .divide{
  width: 50%;
  height: 100%;
  float: left;
  /*border: solid 1px #fFf;*/
  /*background: rgb(159, 4, 103);*/
  position: relative;

  background-size: cover;
  background-repeat: no-repeat;
}


/*#register{
}
#register form{
  overflow: hidden;
}
#register form .divide{
  padding-bottom: 9999px;
  margin-bottom: -9999px;
}*/
#recuperar.authenticate .divide{
  width: 100%;
  height: calc(100%);
}
.authenticate .divide:first-child{
  padding-left: 0px;
  padding-right: 0px;
}
.authenticate .divide:last-child{
  padding-right: 0px;
  padding-left: 20px;
  float: right;
}
.authenticate .divide.reg_user{
  float: left;
}
.authenticate .divide .divide_cont{
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  /*max-width: 365px;*/
  max-width: 400px;
  z-index: 10;
}
#recuperar.authenticate .divide .divide_cont{
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  margin-top: 50px;

}
#recuperar.authenticate .divide .button{
  margin-top: 50px;
}
#recuperar.authenticate form{
  height: 100%;
}


/*666666*/
.authenticate .divide .titulo{
  width: 100%;
  text-align: center;
}
.authenticate .divide .titulo h5{
  color: #fff;
  font-size: 40px;
  font-family: 'century';
  margin-top: 30px;
}
.authenticate .divide.dat_ris .titulo h5{
  color: #333333;
}
#register.authenticate .divide.reg_user,
#register.authenticate .divide.dat_ris{
  padding: 0;
  margin-bottom: 0px;
}
#register.authenticate .divide.dat_ris{
  padding: 0 80px;
}
#register.authenticate .divide .divide_cont{
  top: auto;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  border: solid 1px #fff;
  padding: 15px 30px;
  padding: 15px 60px 15px 30px;
  border-radius: 40px;
  margin-top: 30px;
  position: relative;
}
#register.authenticate .divide.dat_ris .divide_cont{
  max-width: none;
  border: solid 1px #666666;

}
#register.authenticate .divide.dat_ris .divide_cont.files{
  border: none;
  min-height: 130px;
  padding: 15px 0;
}
.authenticate .divide .divide_cont .input{
  /*background: rgb(26, 20, 122);*/
  width: 100%;
  height: 50px;
  position: relative;
  margin-top: 10px;

  border-radius: 20px;
  background: #999999;

  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;


}
.authenticate .divide .divide_cont .input.error{
  border: solid 1px #ff0000;
  background: #f7bbbb;
}

.input_error{
  text-align: center;
  line-height: 1;
  margin: 5px 0;
}

.input_error span{
  color: rgb(255, 255, 255);
  font-size: 11px;
  text-align: center;
  line-height: 1;

}
.authenticate .divide .divide_cont .input:hover,
.authenticate .divide .divide_cont .input.focus{
  background: #fff;
}
.authenticate .divide .divide_cont .input:hover label,
.authenticate .divide .divide_cont .input.focus label,
.authenticate .divide .divide_cont .input:hover input,
.authenticate .divide .divide_cont .input.focus input{
  color: #000;
}
.authenticate .divide .divide_cont .input:hover label .icon img,
.authenticate .divide .divide_cont .input.focus label .icon img{
  -webkit-filter: invert(1);
  -o-filter: invert(1);
  filter: invert(1);
}
.authenticate .divide .divide_cont .input.focus label{
  opacity: .5;
}


.authenticate .divide.dat_ris .divide_cont .input,
.authenticate .divide.dat_ris .divide_cont .input_file,
#register.authenticate .divide.dat_ris .divide_cont .input.textarea{
  background: #e6e6e6;
}

.authenticate .divide.dat_ris .divide_cont .input_file{
  margin-top: 10px;
}
.authenticate .divide.dat_ris .divide_cont .input_file:first-child{
  margin-top: 20px;
}

.authenticate .divide .divide_cont.files .input{
  width: 50%;
}

#register.authenticate .divide .divide_cont .inputs{
  overflow: hidden;
}
#register.authenticate .divide .divide_cont .inputs .input{
  float: left;
  width: 45%;
  margin-top: 10px;
}
#register.authenticate .divide .divide_cont .inputs .input:last-child{
  float: right;
}
#register.authenticate .divide .divide_cont .input.select{
  max-width: 330px;
  height: 30px;
  background: #fff;
  margin-bottom: 25px;
  width: calc(100% - 80px);
}
#register.authenticate .divide .divide_cont .input.select input{
  height: 30px;
  padding-left: 50px;
  color: #000;
}
#register.authenticate .divide .divide_cont .input.select span.caret{
  right: 15px;
  font-size: 15px;
  z-index: 10;
  /*top: -8px;*/
}
#register.authenticate .divide .divide_cont .input.select .icon{
  width: 17px;
  position: absolute;
  top: 6px;
  left: 15px;
}



.authenticate .divide .divide_cont .input:first-child{
  margin-top: 0;
}
.authenticate .divide .divide_cont .input input{
  box-sizing: border-box;
  margin: 0;
  height: 50px;
  border-radius: 20px;

  background: transparent;
  padding-left: 35px;
  color: #fff;
  position: relative;
  border: none;
  z-index: 1;
  font-weight: bold;
  /*background: #b3b3b3;*/
}
#recuperar.authenticate .divide .divide_cont .input input {
}
/*.authenticate .divide .divide_cont .input:nth-child(2) input{
  color: #000;
}*/


.authenticate .divide .divide_cont .input_file{
  width: calc(100% - 200px);
  background: #b3b3b3;
  border-radius: 20px;
  cursor: pointer;
}
.authenticate .divide .divide_cont.files .vista_previa{
  /*background: rgb(50, 52, 207);*/
  position: absolute;
  width: 150px;
  height: 100px;
  right: 30px;
  top: 15px;
  /*padding: 10px;*/
}
.authenticate .divide .divide_cont.files .vista_previa center{
  width: 100%;
  height: 100%;
}
.authenticate .divide .divide_cont.files .vista_previa .img{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;

  opacity: 0;
  z-index: 0;

  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;

}
.authenticate .divide .divide_cont.files .vista_previa .img.active{
  opacity: 1;
  z-index: 1;

}

.authenticate .divide .divide_cont.files .vista_previa img{
  width: 100%;
  height: auto;
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.authenticate .divide .divide_cont.files .vista_previa .img.alto img{
  width: auto;
  height: 100%;
}





.authenticate .divide .divide_cont .input_file input{
  margin: 0;
}
.authenticate .divide .divide_cont .input_file input[type="text"]{
  width: calc(100% - 20px);
  font-weight: bold;
}
.authenticate .divide .divide_cont .input_file input[type="text"],
.authenticate .divide .divide_cont .input_file input[type="text"].valid{
  border: none;
  box-shadow: none;
}
.authenticate .divide .divide_cont .input_file .btn{
  background: transparent;
  box-shadow: none;
}
.authenticate .divide .divide_cont .input_file .btn span:not(.icon) {
  text-transform: none;

  font-size: 15px;
  padding-left: 25px;
  font-weight: bold;
  color: #0e0e0e;
  /*cursor: pointer;*/

}

.authenticate .divide .divide_cont .input_file .btn span.icon{
  position: absolute;
  width: 30px;
  top: 7.5px;
  left: 15px;
}
.authenticate .divide .divide_cont .input_file .btn span.icon img{
  width: 100%;
}



/*#register.authenticate .divide .divide_cont.files .input input{
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 1rem;
  margin: 0 0 20px 0;
  padding: 0;
  box-shadow: none;
  box-sizing: content-box;
  transition: all 0.3s;
  position: absolute;
}*/
/*#register.authenticate .divide .divide_cont.files .input input[type="text"]{
  width: calc(100% - 120.3px);
}*/
/*#register.authenticate .divide .divide_cont.files .input .btn{
  background: transparent;
  box-shadow: none;
}*/






#register.authenticate .divide .divide_cont .input.textarea{
  height: 90px;
  background: #b3b3b3;

}
#register.authenticate .divide .divide_cont .input.textarea label{
  top: 10px;
}

#register.authenticate .divide .divide_cont .input textarea{
  height: 90px;
  box-sizing: border-box;
  margin: 0;
  border-radius: 25px;
  font-weight: bold;


  padding-left: 15px;
  color: #0e0e0e;
  position: relative;
  border: none;
  z-index: 1;
  /*background: #b3b3b3;*/
  outline: 0;
  resize: none;
  padding: 12px 35px;

}
#register.authenticate .divide .divide_cont .input.select .dropdown-content{
  border-radius: 25px;
}


#register.authenticate .divide .divide_cont .input input{
  padding-left: 35px;
  height: 50px;
}

.authenticate .divide .divide_cont .input.focus input{
  color: #000;
}


/*#login.authenticate .divide .divide_cont .input input:focus,
#recuperar.authenticate .divide .divide_cont .input input:focus,
#register.authenticate .divide.reg_user .divide_cont .input input:focus{
  background: #fff;
  color: #000;
}
#login.authenticate .divide .divide_cont .input input:hover,
#recuperar.authenticate .divide .divide_cont .input input:hover,
#register.authenticate .divide.reg_user .divide_cont .input input:hover{
  color: #000;
}
#login.authenticate .divide .divide_cont .input input,
#recuperar.authenticate .divide .divide_cont .input input,
#register.authenticate .divide .divide_cont .input input{
  color: #fff;
}*/



#register.authenticate .divide.dat_ris .divide_cont .input input{
  color: #000;

}

.authenticate .divide .divide_cont .input input:valid{
  z-index: 3;
}



.authenticate .divide .divide_cont .input label{
  display: block;
  position: absolute;
  left: 35px;
  top: calc(50% - 15px);
  /*width: ;*/
  /*max-width: 200px;*/
  height: 30px;
  /*z-index: 1;*/
  padding: 0;
  padding-left: 40px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  line-height: 10px;
  overflow: hidden;
  align-items: center;
  display: flex;

  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.authenticate .divide.dat_ris .divide_cont .input label{
  color: #0e0e0e;
}


/*#register.authenticate .divide .divide_cont .input label{
  top: 3px;

}*/
#register.authenticate .divide.dat_ris .divide_cont .input label{
  padding-left: 0;
}

/*.authenticate .divide .divide_cont .input input:focus + label,
#register.authenticate .divide .divide_cont .input textarea:focus + label{
  display: none;
}*/

.authenticate .divide .divide_cont .input label span.text{
  line-height: 1;
}
.authenticate .divide .divide_cont .input label span.icon{
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
}
.authenticate .divide .divide_cont .input label span.icon i{
  position: absolute;
  font-size: 24px;
  top: calc(50% - 12px);
  left: 0;
}
.authenticate .divide .divide_cont .input label span.icon img{
  position: absolute;
  width: 24px;
  top: calc(50% - 12px);
  left: 0;

  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.authenticate .divide .divide_cont .input label span.icon.myIcon:after,
.authenticate .divide .divide_cont .input label span.icon.myIcon:before{
  content: '';
  position: absolute;
  left: 0;
  background: #fff;
  opacity: 1;
  color: #fff;
}
.authenticate .divide .divide_cont .input:nth-child(2) label span.icon.myIcon:after,
.authenticate .divide .divide_cont .input:nth-child(2) label span.icon.myIcon:before{
  background: #000;
  color: #000;
}

/*.authenticate .divide.dat_ris .divide_cont .input label span.icon.myIcon:after,
.authenticate .divide.dat_ris .divide_cont .input label span.icon.myIcon:before{
  background: #000;
  color: #000;
}
*/

/*color: #0e0e0e;*/


.authenticate .divide .divide_cont .input label span.icon.lines:after{
  top: 10px;
  width: 15px;
  height: 1px;
}
.authenticate .divide .divide_cont .input label span.icon.lines:before{
  bottom: 10px;
  width: 25px;
  height: 1px;
}
.authenticate .divide .divide_cont .login_footer{
  margin-top: 0px;
  overflow: hidden;
  /*background: rgb(55, 182, 163);*/
  padding: 20px 0 0;
}


.authenticate .divide .divide_cont .login_footer .lg_foot{
  height: auto;
  float: left;
  /*background: rgb(53, 46, 177);*/
  /*border: solid 1px #fff;*/
}


.authenticate .divide .divide_cont .login_footer .remind{
  width: 50%;
  padding-left: 15px;
}
.authenticate .divide .divide_cont .login_footer .remind label{
  color: #fff;
  font-size: 13px;
}
.authenticate .divide .divide_cont .login_footer .recover{
  width: 50%;
  padding-right: 15px;


}
.authenticate .divide .divide_cont .login_footer .recover a{
  text-align: right;
}
.authenticate .divide .divide_cont .login_footer .lg_foot a{
  color: #fff;
  text-decoration: underline;
  width: 100%;
  display: block;
  line-height: 1;
  font-size: 13px;

}
.authenticate .divide .divide_cont .recover .lg_foot a{
  text-align: right;
}

.authenticate .divide .divide_cont .login_footer .regist{
  width: 60%;
  margin-top: 15px;
  padding: 5px 0;
}
.authenticate .divide .divide_cont .login_footer .regist{
  margin-top: 5px;
}
.authenticate .divide .divide_cont .login_footer .regist span{
  text-decoration: none;
  line-height: 1.2;
  width: 100%;
  display: block;
  color: #fff;
  font-size: 13px;
}
.authenticate .divide .divide_cont .login_footer .regist span._2{
  text-decoration: underline;
}
.authenticate .divide .divide_cont .login_footer .button{
  width: 40%;
  margin-top: 15px;

}
.authenticate .divide .divide_cont .login_footer .button button{
  height: 60px;
  border-radius: 25px;
  border: none;
  line-height: 1;
  padding: 0 30px;
  float: right;
  font-weight: bold;
  text-transform: uppercase;
}

/****************/
.authenticate .divide .divide_cont.new_user{
  overflow: hidden;
}

.authenticate .divide .divide_cont.new_user .new_user_head{
  height: 50px;
  /*width: 355px;*/
  width: 395px;

  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}


.authenticate .divide .divide_cont.new_user.active .new_user_head{
  height: 35px;
  /*width: 235px;*/
  width: 270px;
}
.authenticate .divide .divide_cont.new_user .new_user_head .icon{
  width: 80px;
  height: 100%;
  float: left;
  text-align: center;

  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;

}
.authenticate .divide .divide_cont.new_user.active .new_user_head .icon{
  width: 50px;
}
.authenticate .divide .divide_cont.new_user .new_user_head .icon i{
  font-size: 50px;
  color: #fff;
  position: relative;

  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;

}
.authenticate .divide .divide_cont.new_user.active .new_user_head .icon i{
  font-size: 35px;
}
.authenticate .divide .divide_cont.new_user .new_user_head .icon i:before{
  content: '';
  position: absolute;
  bottom: 9px;
  right: -4px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  border-color: #fff transparent transparent transparent;

  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;

}
.authenticate .divide .divide_cont.new_user.active .new_user_head .icon i:before{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 0 4px 5px;
  border-color: transparent transparent transparent #fff;
  bottom: 6px;
  right: -3px;
}
.authenticate .divide .divide_cont.new_user .new_user_head .text{
  width: auto;
  float: left;
  height: 100%;
  line-height: 1;
  position: relative;
}
.authenticate .divide .divide_cont.new_user .new_user_head .text span{
  font-style: italic;
  font-size: 30px;
  padding: 0;
  color: #fff;
  position: relative;
  top: calc(50% - 18.5px);

  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;

}
.authenticate .divide .divide_cont.new_user.active .new_user_head .text span{
  font-size: 20px;
  top: calc(50% - 10px);

}

.authenticate .divide .divide_cont.new_user .new_user_cont{
  width: 100%;
  max-height: 0px;
  margin: 0;

  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;

}

.authenticate .divide .divide_cont.new_user.active .new_user_cont{
  max-height: 1000px;
  margin-top: 10px;
}


.authenticate .divide .divide_cont.new_user .new_user_cont ul{
  width: 285px;
  overflow: hidden;
  background: #b3b3b3;
  border-radius: 30px;
  padding: 0;
  font-family: 'century';
  /*max-height: 0px;*/
  /*padding: 0;*/
  /*margin: 0;*/
  margin: 0;

  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.authenticate .divide .divide_cont.new_user.active .new_user_cont ul{
  padding: 20px 0;
}


.authenticate .divide .divide_cont.new_user .new_user_cont ul li{
  height: 30px;
  width: 100%;
  padding-left: 30px;
  padding-right: 15px;
  margin-top: 5px;
}

.authenticate .divide .divide_cont.new_user .new_user_cont ul li .icon{
  width: 30px;
  height: 100%;
  float: left;
}
.authenticate .divide .divide_cont.new_user .new_user_cont ul li .icon img{
  width: 20px;
  margin-top: 5px;
  margin-left: 5px;
}
.authenticate .divide .divide_cont.new_user .new_user_cont ul li .text{
  width: calc(100% - 40px);
  height: 100%;
  float: left;
  text-align: left;
  position: relative;
  padding-left: 10px;
}
.authenticate .divide .divide_cont.new_user .new_user_cont ul li .text span{
  font-weight: bold;
  color: #fff;
  position: relative;
  top: calc(50% - 12px);
}
.authenticate .divide .divide_cont.new_user .new_user_cont .new_user_cont_footer{
  margin-top: 10px;

  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.authenticate .divide .divide_cont.new_user.active .new_user_cont .new_user_cont_footer{
  margin-top: 25px;
}
.authenticate .divide .divide_cont.new_user .new_user_cont .new_user_cont_footer a{
  font-style: italic;
  color: #fff;
  text-decoration: underline;
}
#register .button,
#recuperar .button{
  width: 100%;
  overflow: hidden;
  margin-top: 15px;
  text-align: center;
  margin-bottom: 20px;
}
#register .button{
  position: relative;;
  left: 0;
  /*bottom: 30px;*/
}
#register .button button,
#register .button a,
#recuperar .button button,
#recuperar .button a{
  height: 80px;
  width: 80px;
  border-radius: 80px;
  border: none;
  line-height: 1;
  /*float: right;*/
  margin: 0 15px;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  background: #b6b7b7;
  color: #fff;
  display: inline-block;
  position: relative;
  padding: 0;
  vertical-align: middle;
}
#register .button a span,
#recuperar .button a span{
  position: relative;
  top: calc(50% - 7.5px);
}

/*#register .divide.reg_user .button button,
#register .divide.reg_user .button a{
  float: right;
}
#register .divide.dat_ris .button button,
#register .divide.dat_ris .button a{
  float: left;
}*/


/*******************************************************/
/******************** Vistas Beacon ********************/
/*******************************************************/

.contenedor .principal{
  width: 100%;
  height: 100%;
  /*background: rgb(163, 219, 5);*/
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;


  background-image: url(../img/fondos/completo.jpg);
  padding-bottom: 30px;
  overflow-x: hidden;
}

.contenedor .principal .titulo,
.modal_ .titulo{
  width: 100%;
  /*background: rgb(246, 12, 228);*/
  text-align: center;
  padding: 30px 0 10px;
  font-family: 'century';
  /*margin-top: 20px;*/
}
.contenedor .principal .titulo,
.modal_ .titulo {
  padding: 75px 0 10px;
}
.contenedor.cliente_final .principal .titulo h1,
.contenedor.cliente_final .modal_ .titulo h1{
  margin: 0 0 20px;
  color: #fff;
  font-size: 45px;
}
.contenedor .principal .titulo h3,
.modal .titulo h3{
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 40px;
  color: #fff;
}
.contenedor .principal .agregar{
  width: 100%;
  margin: 15px 0;

}
.contenedor .principal .agregar a{
  display: block;
  width: 125px;
  height: 125px;
  background: rgb(121, 121, 121);
  border-radius: 100%;
  line-height: 1;
  text-transform: uppercase;
  font-family: 'century';

  box-shadow: inset 0px 0px 50px 20px rgb(100, 100, 100), inset 0px 0px 40px 10px rgb(90, 90, 90), 0px 0px 20px 5px rgba(0, 0, 0, 0.3);
}

.contenedor .principal .agregar.regresar a{
  display: block;
  width: 85px;
  height: 85px;
  background: rgb(121, 121, 121);
  border-radius: 100%;
  line-height: 1;
  text-transform: uppercase;
  font-family: 'century';

  box-shadow: inset 0px 0px 50px 20px rgb(100, 100, 100), inset 0px 0px 40px 10px rgb(90, 90, 90), 0px 0px 20px 5px rgba(0, 0, 0, 0.3);
}

.contenedor .principal .agregar a:active{
  box-shadow: inset 0px 0px 50px 20px rgb(100, 100, 100), inset 0px 0px 40px 10px rgb(90, 90, 90), 0px 0px 10px 2px rgba(0, 0, 0, 0.3);

  -webkit-transform: translate(0, 2px);
  -ms-transform: translate(0, 2px);
  -o-transform: translate(0, 2px);
  transform: translate(0, 2px);
}
.contenedor .principal .agregar a div{
  position: relative;
  top: calc(50% + 10px);
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.contenedor .principal .agregar a span{
  color: #fff;
  display: block;
}
.contenedor .principal .agregar a span strong{
  font-weight: normal;
  font-size: 19px;
}
.contenedor .principal .agregar a span.icon i{
  font-size: 35px;
}
.contenedor .principal .agregar.regresar a span.icon i{
  font-size: 25px;
}
.contenedor .principal .tabla{
  margin-top: 20px;
  background: rgba(51, 51, 51, 0.75);
}
.contenedor .principal .tabla table th,
.contenedor .principal .tabla table td{
  text-align: center;
  color: #fff;
  padding: 10px 5px;
  /*border: solid 1px #000;*/


}


.switch label input[type=checkbox]:checked + .lever {
  background-color: #818181;
}

.switch label input[type=checkbox]:checked + .lever:after {
  background-color: #F1F1F1;
}

.switch label .lever {
  background-color: #84c7c1;
}

.switch label .lever:after {
  background-color: #26a69a;
}


.contenedor .principal .form,
.modal_ .form{
  max-width: 400px;
   margin-top: 50px;
  position: relative;
  /*top: calc(50% - 100px);*/
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);

  /*padding-bottom: 50px;*/
}

#divPrecioCarta{
  display: none;
}
#divIdiomaMenu{
  display: none;
}
#divIdiomaMenu3{
  display: none;
}

.contenedor .principal .form .input,
.modal_ .form .input{
  /*background: rgb(26, 20, 122);*/
  width: 100%;
  height: 50px;
  position: relative;
  margin-top: 15px;

  border-radius: 20px;
  background: #999999;

  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.files .input_file .help,
.files .help,
.input-field .help,
.file-field .help,
.input .help{
  position: absolute;
  top: 7.5px;
  right: -40px;
  width: 30px;
  height: 30px;
  transform: translate();
}

.input-field .help,
.input.select .help{
  top: -2.5px;
}
.files .help{
  top: 45px;
}

.files .help i,
.input-field .help i,
.file-field .help i,
.input .help i{
  font-size: 30px;
  color: #999999;

  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

.input-field .help.active i,
.file-field .help.active i,
.input .help.active i{
  color: #ffffff;
}
.files .help.active i,
.dat_ris .input .help.active i{
  color: #000;
}



.files .help .inf,
.input-field .help .inf,
.file-field .help .inf,
.input .help .inf{
  position: absolute;
  height: auto;
  background: #000;
  top: -7.5px;
  left: -25px;
  transform: translate(-100%);
  z-index: 11;
  border-radius: 5px;
  /*overflow: hidden;*/

  max-height: 0px;
  width: 100px;
  padding: 0px;
  opacity: 0;

  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}
.files .help .inf.active,
.input-field .help .inf.active,
.file-field .help .inf.active,
.input .help .inf.active{
  opacity: 1;

  max-height: 200px;
  width: 200px;
  padding: 15px;
}

.files .help .inf:before,
.input-field .help .inf:before,
.file-field .help .inf:before,
.input .help .inf:before{
  content: '';
  position: absolute;
  top: 4px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 0 15px 20px;
  border-color: transparent transparent transparent #000;

  right: 0px;

  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

.files .help .inf.active:before,
.input-field .help .inf.active:before,
.file-field .help .inf.active:before,
.input .help .inf.active:before{
  right: -20px;
  transition-delay: .3s;

}

.files .help .inf p,
.input-field .help .inf p,
.file-field .help .inf p,
.input .help .inf p{
  margin: 0;
  font-size: 12px;
  color: #fff;
  text-align: justify;
  opacity: 0;

  transition-delay: .2s;

  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}
.files .help .inf.active p,
.input-field .help .inf.active p,
.file-field .help .inf.active p,
.input .help .inf.active p{
  opacity: 1;
}


































.contenedor .principal .tabla table th .help .inf{
  position: absolute;
  height: auto;
  background: #000;
  top: -7.5px;
  left: -25px;
  transform: translate(-100%);
  z-index: 11;
  border-radius: 5px;
  /*overflow: hidden;*/

  max-height: 0px;
  width: 100px;
  padding: 0px;
  opacity: 0;

  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

/*.contenedor .principal .tabla table th .help .inf.active{
  opacity: 1;

  max-height: 200px;
  width: 200px;
  padding: 15px;
}


.contenedor .principal .tabla table th .help .inf:before{
  content: '';
  position: absolute;
  top: 4px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 0 15px 20px;
  border-color: transparent transparent transparent #000;

  right: 0px;

  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}


.contenedor .principal .tabla table th .help .inf.active:before{
  right: -20px;
  transition-delay: .3s;

}

,
.contenedor .principal .tabla table th .help .inf p{
  margin: 0;
  font-size: 12px;
  color: #fff;
  text-align: justify;
  opacity: 0;

  transition-delay: .2s;

  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

.contenedor .principal .tabla table th .help .inf.active p{
  opacity: 1;
}*/

.input .mas{
  width: auto;
  height: auto;
  position: absolute;
  top: -3px;
  right: -70px;
  line-height: 1;
}
.input .mas a{
  line-height: 1;
}
.input .mas a i{
  font-size: 30px;
  line-height: 1;
  color: #999999;
}


.contenedor .principal .form .checkbox,
.modal_ .form .checkbox{
  margin-top: 10px;
}
.contenedor .principal .form .input.error,
.modal_ .form .input.error{
  border: solid 1px #ff0000;
  background: #f7bbbb;
}

.contenedor .principal .form .input input.input_time:focus + label{
  opacity: 0;
}
.contenedor .principal .form .input input.input_time:not(:focus){
  opacity: 0;
}
.contenedor .principal .form .input input.input_time:valid{
  opacity: 1;
}
.contenedor .principal .form .input input.input_time::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  background: #999999;
}
.contenedor .principal .form .input.time{
  overflow: hidden;
}
.contenedor .principal .form .input input.input_time{
  width: calc(100% + 50px)
}
.contenedor .principal .form .input input.input_time.number{
  width: calc(100%)
}
.contenedor .principal .form .input input,
.modal_ .form .input input{
  box-sizing: border-box;
  margin: 0;
  height: 50px;
  border-radius: 20px;

  background: transparent;
  padding-left: 50px;
  color: #fff;
  position: relative;
  border: none;
  z-index: 1;
  font-weight: bold;
  /*background: #b3b3b3;*/
}

.contenedor .principal .form .input input.input_time:focus + label,
.modal_ .form .input input.input_time:focus + label{
  opacity: 0;
}
.contenedor .principal .form .input input.input_time:not(:focus),
.modal_ .form .input input.input_time:not(:focus){
  opacity: 0;
}
.contenedor .principal .form .input input.input_time:valid,
.modal_ .form .input input.input_time:valid{
  opacity: 1;
}
.contenedor .principal .form .input input.input_time::before,
.modal_ .form .input input.input_time::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  background: #999999;

  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.contenedor .principal .form .input.focus input.input_time::before,
.modal_ .form .input.focus input.input_time::before{
  background: #ffffff;

}
.contenedor .principal .form .input.time,
.modal_ .form .input.time{
  /*overflow: hidden;*/
}
.contenedor .principal .form .input input.input_time,
.modal_ .form .input input.input_time{
  /*width: calc(100% + 50px)*/
}
.contenedor .principal .form .input input.input_time.number,
.modal_ .form .input input.input_time.number{
  width: calc(100%)
}

.clienteFinal{
  background-image: url(../img/fondos/completo.jpg);
}
.colorClienteFinal{
  color: #fff;
}
.contenedor .principal .form .input.no_icon input,
.modal_ .form .input.no_icon input{
  padding-left: 25px;
}
.contenedor .principal .form .input.no_icon input.timepicki-input{
  padding: 0;
}


.contenedor .principal .form .input label,
.modal_ .form .input label{
  display: block;
  position: absolute;
  left: 35px;
  top: calc(50% - 15px);
  /*width: ;*/
  /*max-width: 200px;*/
  height: 30px;
  /*z-index: 1;*/
  padding: 0;
  padding-left: 40px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  line-height: 10px;
  overflow: hidden;
  align-items: center;
  display: flex;

  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.contenedor .principal .form .input.textarea,
.modal_ .form .input.textarea{
  height: 90px;
  background: #b3b3b3;

}
.contenedor .principal .form .input.textarea label,
.modal_ .form .input.textarea label{
  top: 10px;
}

.contenedor .principal .form .input textarea,
.modal_ .form .input textarea{
  height: 90px;
  box-sizing: border-box;
  margin: 0;
  border-radius: 25px;
  font-weight: bold;


  padding-left: 15px;
  color: #0e0e0e;
  position: relative;
  border: none;
  z-index: 1;
  /*background: #b3b3b3;*/
  outline: 0;
  resize: none;
  padding: 12px 25px;

}

.contenedor .principal .form .input.no_icon label,
.modal_ .form .input.no_icon label{
  padding-left: 10px;
  left: 15px;
}

.contenedor .principal .form .input label span.text,
.modal_ .form .input label span.text{
  line-height: 1;
}
.contenedor .principal .form .input label span.icon,
.modal_ .form .input label span.icon{
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
}
.contenedor .principal .form .input label span.icon i,
.modal_ .form .input label span.icon i{
  position: absolute;
  font-size: 24px;
  top: calc(50% - 12px);
  left: 0;
}
.contenedor .principal .form .input label span.icon img,
.modal_ .form .input label span.icon img{
  position: absolute;
  width: 24px;
  top: calc(50% - 12px);
  left: 0;

  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}



.contenedor .principal .form .input:hover,
.contenedor .principal .form .input.focus,
.modal_ .form .input:hover,
.modal_ .form .input.focus{
  background: #fff;
}
.contenedor .principal .form .input:hover label,
.contenedor .principal .form .input.focus label,
.contenedor .principal .form .input:hover input,
.contenedor .principal .form .input.focus input,
.modal_ .form .input:hover label,
.modal_ .form .input.focus label,
.modal_ .form .input:hover input,
.modal_ .form .input.focus input{
  color: #000;
}
.contenedor .principal .form .input:hover label .icon img,
.contenedor .principal .form .input.focus label .icon img,
.modal_ .form .input:hover label .icon img,
.modal_ .form .input.focus label .icon img{
  filter: invert(1);
}
.contenedor .principal .form .input.focus label,
.modal_ .form .input.focus label{
  opacity: .5;
}



.contenedor .principal .form .input input,
.modal_ .form .input input{
  color: #fff;
}

.contenedor .principal .form .input.select,
.modal_ .form .input.select{
  max-width: 330px;
  height: 30px;
  background: #fff;
  margin-bottom: 25px;
  margin-left: 40px;
  width: calc(100% - 80px);
}
.contenedor .principal .form .input.select._100,
.modal_ .form .input.select._100{
  max-width: none;
  height: 30px;
  margin-left: 0px;
  width: calc(100%);
}
.contenedor .principal .form .input.select input,
.modal_ .form .input.select input{
  height: 30px;
  padding-left: 50px;
  color: #000;
}
.contenedor .principal .form .input.select.no_icon input,
.modal_ .form .input.select.no_icon input{
  padding-left: 25px;
}
.contenedor .principal .form .input.select span.caret,
.modal_ .form .input.select span.caret{
  right: 15px;
  font-size: 15px;
  z-index: 10;
  /*top: -8px;*/
}
.contenedor .principal .form .input.select .icon,
.modal_ .form .input.select .icon{
  width: 17px;
  position: absolute;
  top: 6px;
  left: 15px;
}
.contenedor .principal .form .input-field:not(.input_file),
.modal_ .form .input-field:not(.input_file){
  background: rgb(255, 255, 255);
  height: 30px;
  border-radius: 20px;
}
.contenedor .principal .form .input-field:not(.input_file) input,
.modal_ .form .input-field:not(.input_file) input{
  height: 30px;
  padding-left: 25px;
  color: #000;
  border: none;
  font-weight: bold;
}
.contenedor .principal .form .input-field:not(.input_file) span.caret,
.modal_ .form .input-field:not(.input_file) span.caret{
  right: 15px;
  font-size: 15px;
  z-index: 10;
}
.contenedor .principal .form .input-field:not(.input_file) ul,
.modal_ .form .input-field:not(.input_file) ul{
  border-radius: 15px;
  width: 100% !important;
}


.contenedor .principal .form .input.select .dropdown-content,
.modal_ .form .input.select .dropdown-content{
  border-radius: 25px;
}


.contenedor .principal .form .button,
.modal_ .form .button{
  width: 100%;
  overflow: hidden;
  margin-top: 15px;
  text-align: center;
}

.contenedor .principal .form .button button,
.contenedor .principal .form .button a,
.modal_ .form .button button,
.modal_ .form .button a{
  height: 80px;
  width: 80px;
  border-radius: 80px;
  border: none;
  line-height: 1;
  /*float: right;*/
  margin: 0 15px;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  background: #b6b7b7;
  color: #fff;
  display: inline-block;
  position: relative;
  padding: 0;
  vertical-align: middle;
}
.contenedor .principal .form .button a span,
.modal_ .form .button a span{
  position: relative;
  top: calc(50% - 7.5px);
}

.contenedor .authenticate .links_{
  width: 100%;
  text-align: center;
  margin-top: 15px;
}
.contenedor .authenticate .links_ a{
  color: #0e0e0e;
  font-weight: bold;
  text-decoration: underline;
}

.contenedor .principal .form .links_ a,
.modal_ .form .links_ a{

}


.form .input_file,
.contenedor .principal .form .input_file
{
  background: #e6e6e6;
}

.form .input_file,
.contenedor .principal .form .input_file
{
  width: calc(100%);
  background: #b3b3b3;
  border-radius: 15px;
  cursor: pointer;
}

.form .input_file input,
.contenedor .principal .form .input_file input
{
  margin: 0;
}
.form .input_file input[type="text"],
.contenedor .principal .form .input_file input[type="text"]
{
  width: calc(100% - 20px);
  font-weight: bold;
}
.form .input_file input[type="text"],
.contenedor .principal .form .input_file input[type="text"],
.form .input_file input[type="text"].valid,
.contenedor .principal .form .input_file input[type="text"].valid
{
  border: none;
  box-shadow: none;
}
.form .input_file .btn,
.contenedor .principal .form .input_file .btn
{
  background: transparent;
  box-shadow: none;
}
.form .input_file .btn span:not(.icon),
.contenedor .principal .form .input_file .btn span:not(.icon)
{
  text-transform: none;

  font-size: 15px;
  padding-left: 25px;
  font-weight: bold;
  color: #0e0e0e;

}

.form .input_file .btn span.icon,
.contenedor .principal .form .input_file .btn span.icon
{
  position: absolute;
  width: 30px;
  top: 7.5px;
  left: 15px;
}
.form .input_file .btn span.icon img,
.contenedor .principal .form .input_file .btn span.icon img
{
  width: 100%;
}


.form .vista_previa,
.contenedor .principal .form .vista_previa
{
  position: relative;
  width: 150px;
  height: 100px;
  left: 50%;
  margin-top: 15px;
  max-height: 0;
  opacity: 0;
  overflow: hidden;

  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;

  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  transform: translate(-50%);
}
.form .vista_previa.active,
.contenedor .principal .form .vista_previa.active
{
  max-height: 1000px;
  opacity: 1;
}

.form .vista_previa center,
.contenedor .principal .form .vista_previa center
{
  width: 100%;
  height: 100%;
}
.vista_maridaje{
    height: auto !important;
    width: 450px !important;
}
.mensaje__{
    color: #fff;
    font-size: 18px;
    text-align: center;
}
.center{
    text-align: center;
}
#vista_madiraje{
    position: relative;;
}
#vista_madiraje .img_maridaje{
    height: 100px;
    width: 33.33%;
    float: left;
}
#vista_madiraje img{
    width: auto;
    height: 100%;
}
.form .vista_previa .img,
.contenedor .principal .form .vista_previa .img
{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;

  opacity: 0;
  z-index: 0;

  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;

}
.form .vista_previa .img.active,
.contenedor .principal .form .vista_previa .img.active
{
  opacity: 1;
  z-index: 1;
}

.form .vista_previa img,
.contenedor .principal .form .vista_previa img
{
  width: 100%;
  height: auto;
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.form .vista_previa .img.alto img,
.contenedor .principal .form .vista_previa .img.alto img
{
  width: auto;
  height: 100%;
}


/**/

.modal_{
  width: 80%;
  height: auto;
  max-width: 860px;
  padding: 25px 0;
  background-size: cover;
  background-repeat: no-repeat;

  overflow-y: auto;
  overflow-x: hidden;


  background-image: url(../img/fondos/completo.jpg);

  border-radius: 30px;

}
.modal_ .titulo{
  padding: 0 40px;
}
.modal_ .titulo h3{
  font-size: 30px;
}
.modal_ .form{
  margin-top: 30px;
}


.modal_ .form .input.select,
.contenedor .principal .form .input.select{
  margin-left: 0px;
  width: calc(100%);
  max-width: 100%;
}

/**************************************************/
/*****************  Vista Final  ******************/
/**************************************************/

.contenedor.cliente_final{
  height: auto;
  /*height: calc(100% - 50px);*/

  padding-top: 110px;
  overflow: auto;
  padding-bottom: 20px;
  min-height: calc(100% - 60px);

}
body.menu2 .contenedor.cliente_final{
  padding-top: 110px;

}

.contenedor.logos{
  padding-top: 110px;
}

.vista_final{
  width: 70%;
  left: 15%;
  /*top: 50%;*/
  height: auto;
  background: rgb(255, 255, 255);
  min-height: 60%;
  border-radius: 15px;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.45);
  text-align: center;
  position: relative;
  /*transform: translate(0, -50%);*/
}


.vista_final .logos{
  display: block;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  transform: translate(-50%);
}
.vista_final .logo{
  width: auto;
  height: auto;
  min-height: 50px;
  display: inline-block;
  margin: 50px 0;
}
.vista_final .logo.logo_principal{
  width: 150px;
}
.vista_final .logo img{
  width: 100%;
}
.vista_final .titulo{
  width: 100%;

}
.vista_final .titulo h3{
  margin: 0;
  font-size: 50px;
  line-height: 1;
  padding: 0 50px;
  text-transform: uppercase;
}

.contenedor.cliente_final .principal{
  padding: 0 10px;
}
.contenedor.cliente_final .principal .titulo h3{
  font-size: 30px;
}
.contenedor.cliente_final .principal .titulo h4{
  font-size: 23px;
  color: #a2a2a2;
}
.contenedor.cliente_final .principal .tabla table th, .contenedor.cliente_final .principal .tabla table td{
  font-size: 14px;
  border-radius: 0;
}
.contenedor.cliente_final .principal .inf{
  width: 100%;
  /*background: rgb(204, 151, 191);*/
  padding: 0 20px;
  position: relative;
}
.contenedor.cliente_final .principal .inf .description{
  width: 100%;
  /*background: rgb(18, 204, 65);*/
  font-size: 15px;
  text-align: center;
  color: #fff;
}
.contenedor.cliente_final .principal .inf .img{
  width: 100%;
  max-width: 350px;
  /*background: rgb(116, 57, 227);*/
  padding: 0 50px;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  transform: translate(-50%);
  position: relative;
}
.contenedor.cliente_final .principal .inf .img img{
  width: 100%;
}
.preload{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .99);
  z-index: 1000;
}
.preload .img{
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 5px;
}
.preload .img:before{
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: rgb(255, 255, 255);
  animation: preload 1.8s infinite;
  /*animation : scales 0.5s inifinite;*/
}
@keyframes preload {
  from {
    width: 0px;
    opacity: .5;
  }
  to {
    width: 100%;
    opacity: 1
  }
}
.preload .img img{
  width: 100%;
  animation: preload_img 1.8s infinite;

}
@keyframes preload_img {
  from {
    opacity: 0;
  }
  to {
    opacity: 1
  }
}


.nombreEmpresa{
  position: absolute;
  top: 110px;
  left: 15%;
  background: rgb(255, 255, 255);
  width: 70%;
  height: 50px;
  z-index: 10;
  border-radius: 0 0 15px 15px;

  box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.14), inset 0 1px 5px 0 rgba(0, 0, 0, 0.12), inset 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.padding_top{
  padding-top: 150px !important;
}
.nombreEmpresa h4{
  margin: 0;
  color: #212121;
  text-align: center;
  font-size: 30px;
  line-height: 1;

  position: relative;
  top: calc(50% - 15px);
}
.contenedor.cliente_final .principal .tabla table.bordered > thead,
.contenedor.cliente_final .principal .tabla table.bordered > thead > tr,
.contenedor.cliente_final .principal .tabla table.bordered > tbody > tr{
  border-bottom: none;
}
.contenedor.cliente_final .principal .tabla table.bordered > thead{
  background: #666666;
}
.contenedor.cliente_final .principal .tabla table.bordered > tbody > tr{
  background: #525252;
}
.contenedor.cliente_final .principal .tabla table.bordered > tbody > tr:nth-child(even) {
  background: #666666;
}

/*Mostara Vista Previa*/
.vistaPrevia{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.9);
  z-index: 1000;
  /*display: none;*/
  opacity: 0;


  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  -o-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}
.vistaPrevia .cerrar{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}
.vistaPrevia.active{
  opacity: 1;
}




.vistaPrevia .container{
  height: 100%;
  position: relative;
}

.vistaPrevia ul{
  width: 100%;
  height: auto;
  position: relative;
  top: calc(50% - 50px);
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  overflow: hidden;
}
.vistaPrevia ul li{
  width: 50%;
  height: auto;
  float: left;
  text-align: center;

}
.vistaPrevia ul li .vista{
  width: 400px;
  height: 500px;
  background-image: url(../img/fondos/completo.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  display: inline-block;
}
.vistaPrevia ul li .vista .header{
  width: 100%;
  height: 60px;
  background: #212121;
  position: relative;
}
.vistaPrevia ul li .vista .header .iconMenu{
  width: 30px;
  height: 100%;
  position: relative;
  left: 50px;
}
.vistaPrevia ul li .vista .header .iconMenu img{
  width: 30px;
  position: relative;
  top: calc(50% - 15px);
}
.vistaPrevia ul li .vista .header .logo{
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  transform: translate(-50%);
  top: 0;
  padding: 5px 0;
  height: 100%;
}
.vistaPrevia ul li .vista .header .logo img{
  height: 100%;
}
.vistaPrevia ul li .vista .content{
  width: 100%;
  height: calc(100% - 60px);
  padding: 60px;
}
.vistaPrevia ul li .vista .content .vistaInicio{
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  border-radius: 15px;
  text-align: center;
  position: relative;
}
.vistaPrevia ul li .vista .content .vistaInicio .centrar{
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  width: 100%;
}
.vistaPrevia ul li .vista .content .vistaInicio .logo{
  display: inline-block;
  width: 90px;

}
.vistaPrevia ul li .vista .content .vistaInicio .logo img{
  width: 100%;
}
.vistaPrevia ul li .vista .content .vistaInicio .titulo{
  width: 100%;
  text-align: center;
  padding: 0 50px;
}
.vistaPrevia ul li .vista .content .vistaInicio .titulo h3{
  font-size: 30px;
}


/*.vistaPrevia .vista{
  width: 250px;
  height: auto;
  position: absolute;
  left: calc(50% - 125px);
  top: calc(50% - 250px);
}
.vistaPrevia .vista img{
  width: 100%;
}

.vistaPrevia .vista .cuadro{
  position: absolute;
  width: 217px;
  height: 388px;
  background: rgb(43, 171, 213);
  top: 57px;
  left: 16px;
}*/




footer{
  width: 100%;
  height: 60px;
  background: rgb(255, 255, 255);
  box-shadow: inset 0 3px 5px -3px rgba(0, 0, 0, .8);
}
footer .footer{
  padding: 10px 0;
}
footer .footer p{
  margin: 0;
  text-align: center;
  line-height: 1;
}
footer .footer p img{
  width: 95px;
  position: relative;
  top: 7px;
}



body.clienteFinal footer{
  height: 60px;
}


/************************************************************************************************/
/************************************************************************************************/
/************************************************************************************************/
/************************************************************************************************/
/************************************************************************************************/
/*****************************************  Responsive  *****************************************/
/************************************************************************************************/
/************************************************************************************************/
/************************************************************************************************/
/************************************************************************************************/
/************************************************************************************************/


@media (max-width: 1200px) {}
@media (max-width: 992px) {
  .logopatrocinantes{
    display: none;
  }
  .authenticate .divide {
    width: 100%;
    height: auto;
    /*float: none;*/
    min-height: 50%;
  }
  .authenticate .divide .divide_cont {
    position: relative;
    top: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    width: 100%;
    /*max-width: 370px;*/
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .vista_final .logo{

    margin: 25px 0;
  }
  nav .brand-logo {
    left: 80px;
  }

  #register .divide {
    min-height: 100%;
    height: auto !important;
  }
}
@media (max-width: 768px) {

  .vista_final .logo {
    width: auto;
  }
  .contenedor.cliente_final .principal .inf .img img,
  .vista_final .logo img.alto {
    height: 170px;
    width: auto;
  }
  .vista_final .logo.logo_principal {
    width: auto;
  }
  .vista_final .titulo h3 {
    font-size: 30px;
    padding: 0 10px;
  }
  .vista_final .logos {
    width: 100%;
  }
  .vista_final .logo.logo_principal {
    max-width: 100%;
    padding: 35px;
  }
  .links{
    text-align: center;
    position: relative;
    top: 60px;
  }
  .links li{
    width: 49%;
    height: 70px;
    display: inline-block;
    margin: 10px 0;
  }
  .links li a{
    line-height: 1;
    margin: 0;
    text-align: center;
  }
  .links li a img{
    width: 70px;
  }
}


@media (max-width: 600px) {
  .contenedor.cliente_final .principal .inf .img img,
  .vista_final .logo img.alto {
    height: 120px;
    width: auto;
  }
  .nombreEmpresa {
    top: 60px;
    height: 35px;
    z-index: 1;
  }
  .nombreEmpresa h4 {
    font-size: 22px;
    top: calc(50% - 12px);
  }
  .padding_top{
    padding-top: 40px !important;
  }
  .MenuResponsive{
    display: block;
    color: #000;
    float: right;
    position: relative;
    right: 10px;
  }
  .menu ul li ul.sub_menu li ul.delServicio{
    top: 72px;
  }
  .titulologo {
    font-size: 18px;
  }
  .contenedor {
    height: calc(100% - 130px);
  }
  .titulologo {
    margin-top: 15px;
  }
  .titulologo h5 {
    font-size: 16px;
  }

  .menu_cliente .nav-wrapper {
    height: 60px;
  }
  .menu_cliente ul li a img {
    width: 30px;
    position: relative;
    top: calc(50% - 15px);
  }
  .contenedor.logos {
    padding-top: 60px;
  }
  .menu_cliente ul li ul {
    padding: 70px 0 20px;
     min-width: auto;
  }
  .menu_cliente ul li ul li a {
    padding: 10px 30px;
  }
  .menu_cliente ul li ul li a span {
    font-size: 16px;
  }
  .menu_cliente ul li.logo {
    padding: 5px 0;
  }
  .menu_cliente ul li.logo {
    left: calc(50% - 60px);
  }
  .contenedor.cliente_final {
    padding-top: 75px;
    min-height: calc(100% - 49px);
  }

  .authenticate .divide:last-child {
    padding-left: 0px;
  }

  .authenticate .divide .divide_cont .input label span.icon img {
    width: 20px;
    top: calc(50% - 10px);
  }
  .authenticate .divide .divide_cont.new_user .new_user_head {
    height: 25px;
    width: 240px;
  }
  .authenticate .divide .divide_cont.new_user .new_user_head .icon {
    width: 40px;
  }
  .authenticate .divide .divide_cont.new_user .new_user_head .icon i {
    font-size: 25px;
  }
  .authenticate .divide .divide_cont.new_user .new_user_head .icon i:before {
    bottom: 5px;
    right: -4px;
    border-width: 3px 3px 0 3px;
  }
  .authenticate .divide .divide_cont.new_user .new_user_head .text span {
    font-style: italic;
    font-size: 20px;
    top: calc(50% - 10px);
  }
  .authenticate .divide .divide_cont .input {
    height: 30px;
    border-radius: 10px;
  }
  .authenticate .divide .divide_cont form{
    padding: 0 10px;
  }
  .authenticate .divide .divide_cont .input_file .btn span.icon {
    width: 25px;
  }
  .authenticate .divide .divide_cont .login_footer .remind {
    width: 100%;
    padding-left: 0px;
    text-align: center;
    float: none;
  }
  .authenticate .divide .divide_cont .login_footer .recover {
    width: 100%;
    padding-right: 0px;
    float: none;
    margin-top: 25px;
  }
  .authenticate .divide .divide_cont .login_footer .recover a {
    text-align: center;
  }
  .authenticate .divide .divide_cont .login_footer .regist {
    width: 100%;
  }
  .authenticate .divide .divide_cont .login_footer .lg_foot a {

    text-align: center;
  }
  .authenticate .divide .divide_cont .login_footer .button {
    left: 0%;
    position: relative;
    width: 100%;
    text-align: center;
  }
  .authenticate .divide .divide_cont .login_footer .button button {
    float: none;
  }

  #recuperar .divide{
    padding:  0 15px;
  }
  .authenticate .divide .titulo h5 {
    font-size: 25px;
    margin-top: 60px;
  }

  .authenticate .divide .divide_cont .input input {
    height: 30px;
    font-size: 13px;
  }
  #register.authenticate .divide .divide_cont .input input {
    height: 30px;
  }
  .authenticate .divide .divide_cont {
    max-width: 320px;
  }
  .authenticate .divide .divide_cont .input label {
    font-size: 13px;
  }
  #register.authenticate .divide.dat_ris {
    padding: 0 20px;
  }
  .authenticate .divide .divide_cont .input_file {
    width: calc(100%);
  }
  .authenticate .divide .divide_cont.files .vista_previa {
    position: relative;
    width: 100%;
    height: auto;
    right: 0px;
    top: 0;
    padding: 20px 0;
  }
  .authenticate .divide .divide_cont.files .vista_previa img {
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);

  }
  .authenticate .divide .divide_cont.files .vista_previa .img {
    height: auto;
    position: relative;
  }
  #register.authenticate .divide .divide_cont {
    margin: 0px;
  }
  .contenedor .authenticate .links_ a {
    font-size: 13px;
  }
  .menu{
    z-index: 100;
  }

  .menu ul:not(.sub_menu) {
    background: rgb(255, 255, 255);
    position: absolute;
    top: 65px;
    z-index: 10;
    height: auto;
    left: -330px;

    opacity: 0;

    -webkit-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
  }
  .menu ul:not(.sub_menu).active {
    left: -30px;
    opacity: 1;
  }

  .menu ul:not(.sub_menu) li{
    float: none;
    width: 120px;
    height: auto;
    /*min-height: 80px;*/
    position: relative;
  }
  .menu ul:not(.sub_menu) li a{
    text-align: center;
  }
  .menu ul li ul.sub_menu.active {
    opacity: 1;
    height: auto;
    width: auto;
    left: 222px;

  }
  .menu ul li ul.sub_menu {
    width: auto;
    min-width: auto;
    height: auto;
    background: rgb(242, 242, 242);
    position: absolute;
    top: 0;
    left: 212px;

  }
  .menu ul li ul.sub_menu li{
    float: none;
    width: auto;
    height: auto;
    display: block;
  }
  .menu ul li ul.sub_menu li a{
    padding: 5px;
  }
  .menu ul li ul.sub_menu li ul{
    position: absolute;
    width: calc(100% + 30px);
    top: 25px;
  }
  .menu ul li ul.sub_menu li ul:hover,
  .menu ul li ul.sub_menu li a.sb_mn2:hover + ul {
    max-height: 1000px;
    opacity: 1;
  }
  .menu .logo {
    padding: 5px 0;
  }
  nav .brand-logo {
    left: 40px;
  }
  /*.menu{
    height: 50px;
    z-index: 100;
  }
  nav .brand-logo {
    left: 50%;
  }
  .menu .logo {
    height: 100%;
    padding: 5px 0;
  }
  .menu ul.right{
    width: 100%;
    background: rgb(255, 255, 255);
    top: 50px;
    position: absolute;
    z-index: 10;
    height: 35px;
    text-align: center;
    border-radius: 0 0 10px 10px;
  }
  .menu ul.right li{
    float: none;
    width: auto;
    display: inline-block;
    overflow: hidden;
  }
  .menu ul:not(.sub_menu) li a i {
    height: auto;
    margin: 0;
  }
  .menu ul:not(.sub_menu) li a {
    padding: 8px 15px;
    position: relative;
    top: 0;
  }
  .menu ul li ul.sub_menu {
    top: 35px;
  }
  .menu ul li ul.sub_menu.active {
    opacity: 1;
    height: auto;
    transition-delay: 0s;
    -webkit-transform: ;
    -ms-transform: ;
    -o-transform: ;
    transform: ;
  }

  .menu ul li ul.sub_menu {
    width: 100%;
    min-width: auto;
    max-width: 300px;
    height: auto;

  }
  .menu ul li ul.sub_menu li {
    width: 100%;
    height: 100%;
    top: 0px;
    display: block;
  }
  .menu ul li ul.sub_menu li a{
    padding: 10px 0;
  }*/






  .contenedor .principal .form,
  .modal_ .form {
    max-width: 300px;
    margin-top: 30px;
    padding: 0 10px;
  }
  [type="checkbox"] + label {
    font-size: 13px;
  }

  .contenedor .principal .titulo h3,
  .modal .titulo h3 {
    font-size: 25px;
  }
  .contenedor .principal .form .input, .modal_ .form .input {
    height: 30px;
  }
  .contenedor .principal .form .input input, .modal_ .form .input input {
    height: 30px;
  }
  .contenedor .principal .form .input label, .modal_ .form .input label {
    font-size: 13px;
  }
  .contenedor .principal .form .input textarea,
  .modal_ .form .input textarea {
    height: 65px;
  }
  .contenedor .principal .form .input.textarea,
  .modal_ .form .input.textarea {
    height: 65px;
  }
  .contenedor .principal .titulo{
    padding: 30px 0 10px;
  }
  .contenedor.cliente_final .principal .titulo{
    padding: 40px 0 10px;
  }
  .contenedor.cliente_final .principal .titulo._1 {
    padding: 75px 0 10px;
  }
  .contenedor.cliente_final .principal .titulo h1{
    font-size: 30px;
  }
  .contenedor.cliente_final .principal .titulo span{
    padding: 75px 0 10px;
  }
  .contenedor .principal .agregar a span {
    font-size: 14px;
  }
  .contenedor .principal .agregar a span strong {
    font-size: 16px;
  }
  .contenedor .principal .agregar a span.icon i {
    font-size: 24px;
  }
  .contenedor .principal .tabla table th,
  .contenedor .principal .tabla table td {
    padding: 6px 5px;
    font-size: 13px;
  }
  .contenedor .principal .tabla table th i,
  .contenedor .principal .tabla table td i {

    font-size: 20px;
  }

  .contenedor .principal .agregar a {
    width: 100px;
    height: 100px;
  }

  body.clienteFinal footer {
    height: auto;
  }


  footer .footer p {
    font-size: 13px;
    position: relative;
    top: -8px;
  }
}


@media (max-width: 480px) {
  /*.menu_cliente ul li.logo {
    left: calc(50% - 125px);
    width: 120px;
  }*/

  .contenedor.cliente_final .principal .titulo {
    padding: 50px 0 10px;
  }
  .padding_top {
    padding-top: 80px !important;
  }
  .nombreEmpresa{
    left: 5%;
    width: 90%;
  }
}
@media (max-width: 420px) {
  .authenticate .divide .divide_cont {
    max-width: 90%;
  }
  .contenedor:not(.cliente_final) .principal .tabla table th,
  .contenedor:not(.cliente_final) .principal .tabla table td {
    border-left: solid 1px #d0d0d0;
    border-right: solid 1px #d0d0d0;
  }
  .contenedor:not(.cliente_final) .principal .tabla table th:first-child,
  .contenedor:not(.cliente_final) .principal .tabla table td:first-child {
    border-left: none;
    /*border-right: solid 1px #d0d0d0;*/
  }
  .contenedor:not(.cliente_final) .principal .tabla table th:last-child,
  .contenedor:not(.cliente_final) .principal .tabla table td:last-child {
    border-right: none;
    /*border-right: solid 1px #d0d0d0;*/
  }
  .contenedor.cliente_final {
    padding-top: 75px;
    min-height: calc(100% - 55px);
  }
  footer .footer p {
    top: 0px;
  }
  footer .footer p img {
    margin-top: -7px;
  }
}

#myIframe{
  height: 580px;
  width: 400px;
}
/*Style for Statistics Loading*/
